
input{
    &.search{
        width:100%;
        padding:10px;
        border-radius: 4px;
        box-shadow:none;
        border:2px solid $border-color;
        &:focus{
            outline:none;
        }
    }
}