$color--primary : #04248E;
$color--secondary : #343349;
$color--text : #6b6b6b;

$color--error : #F42525;
$color--success : #34CC62;
$color--warning : #35B0FF;

$admin-bg : #F5F6FA;

$page-vleresimet: #D3D518;
$other: #554DEF;