$color--primary : #554DEF;
$color--secondary : #343349;
$color--text : #6b6b6b;
$color--black : #000;

$border-color : #f1f1f1;

$shortlisted-color : #ED8A19;

$color--error : #F42525;
$color--success : #34CC62;
$color--warning : #35B0FF;

$admin-bg : #F5F6FA;

