
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import 'variables';
@import 'components/buttons';
@import 'components/form';


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

/* CSS Document */
body{
        color:$color--text;
        font-family: 'Poppins', sans-serif;
        background-color : $admin-bg;
}

h1,h2,h3,h4,h5,h6{
        font-family: 'Poppins', sans-serif;
        font-weight:bold;
        margin:0;
}

h1{
        font-size:22px;
        color:#000000;
        font-weight:500;
        span{
               width:7px;
               height:7px;
               background:$color--primary;
               display:inline-block;
               border-radius:50px;
        }
}

h2{
        font-size:20px;
        color:#000000;
        font-weight:500;
}

h3{
        font-size:18px;
        color:#000000;
        font-weight:500;
}

h4{
        font-size:20px;
        color:#000000;
        font-weight:400;
}
h5{
        font-size:14px;
        color:#000000;
        text-transform:uppercase;
        font-weight:600;
        margin:10px 0;

}
h6{
        font-size:11px;
        text-transform: uppercase;
        letter-spacing: 1px;
        
}

i {
        vertical-align: middle;
}


::placeholder {
        color: #BFBFBF;
        opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #BFBFBF;
}

::-ms-input-placeholder { /* Microsoft Edge */
        color: #BFBFBF;
}

.error404{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        background: #01807f0f;
        padding: 50px;
        border-radius: 10px;
        margin-top: 50px;
}

p{
        :not(.nav-link){
                font-size:14px;
                color:#6c6e74;
        }       
       
}



// BOOTSRAP OVERRIDES
.navbar{
        margin-bottom: 0;

}
.navbar-light .navbar-nav .nav-link {
        color: #3B3E46;
        font-size:15px;
        vertical-align: middle;
}


.dropdown-menu{
        padding:0;
        border : 1px solid #ECECEC;
        box-shadow: 0px 12px 34px -24px rgba(0,0,0,0.20);
        .dropdown-item{
                font-size:15px;
                padding:10px 20px;
                a{
                        margin:0;
                        padding:0;
                }
        }

}

.breadcrumb{
        margin:20px 0;
        background:none;
        font-size: 15px;
}
a{
        color: $color--primary;
        text-decoration: none;
        &:hover{
                text-decoration: none;
        }
}




.page--title{
        margin-bottom:50px;
}


.btn{
        font-size:15px;
        transition: 0.2s ease-in;
        &.primary_btn{
                background-color:$color--primary;
                border:1px solid $color--primary;
                color: #fff;
                svg{
                        fill: #fff;
                }
                &.outline { 
                        background:none;
                        color:$color--primary;
                        svg{
                                fill: $color--primary;
                        }
                        &:focus{
                                box-shadow:none;
                        }
                        &:active{
                                box-shadow:none;
                                outline:none;
                                background-color:$color--primary;
                                border:1px solid $color--primary;
                                color: #fff;
                                svg{
                                        fill: #fff;
                                }
                        }
                }
               
                
        }
       
        &:hover{
                transform: translate(0,-3px);
        }
        &:focus{
             outline:none;
             box-shadow:none;
        }
      
}
.btn-link {
        font-weight: 400;
        color: #04258e;
        text-decoration: none;
        svg, i{
                fill: #04258e,
        }
        &:hover,&:focus{
                text-decoration:none;

        }
}




.page--content{
        margin-top:50px;
}

.bg--white{
        background: #fff;
}
.content--border{
        border : 1px solid #ECECEC;
        box-shadow: 0px 12px 34px -24px rgba(0,0,0,0.20);
}





// Page content that lists recent candidates
.content-item{
        margin-bottom:90px;
        background:#fff;

        h3{
                margin-bottom:10px;
            }
            p{
                    margin-bottom:0;
            }

        .content_header{
             padding:20px 20px;
             box-sizing: border-box;   
             border:1px solid #efefee
        }
        .content_body{
           .body_item{
             padding:20px;
             border-bottom:1px solid #f1f1f1;
                .user_image{
                .image_container{
                    position:relative;
                    width:90%;
                    margin-left:10px;
                    .shortlisted{
                        position:absolute;
                        background:#ED8A19;
                        width:23px;
                        text-align:center;
                        height:23px;
                        border-radius:5px;
                        left: -11px;
                        top: -10px;
                        i{
                          line-height:1px;
                          fill :#fff;
                          
                        }
                    }//end of shortlisted
                    img{
                      width:100%;
                      border-radius:5px;
                    }//end of user image
                }//end of image container
                }//end of user_image
                .contact_info{
                  display:inline-block;
                  padding: 0;
                  margin:0;
                  padding-left:30px;
                        li{
                            display:inline-block;
                            margin-right:10px;
                            &:last-child{
                                  margin-right:0;
                            }
                            a{
                              text-align:center;
                              width:30px;
                              border-radius:3px;
                              display:inline-block;
                              &.email{
                                background:lighten( #13B7FF, 43%);
                                i{
                                  fill : #13B7FF;
                                }
                              } 
                              
                            }//end of a
                            &:hover{
                              cursor: pointer;
                            }
                        }//end of li
                }//end of contact info
                p{
                  margin-top:10px;
                  font-size:14px;
                  max-height:39px;
                  color:#6c6e74;
                  overflow: hidden;
                  margin-bottom: 0;
                }//end of paragprah
            }//end of body_item
        }//end of content_body


        // Shortlisted candidates contents 
        &.shortlisted-candidates{
                

                .content_body{
                        .body_item{
                           .user_image{
                                .image_container{
                                        width:100%;
                                        margin-left:0;
                                }
                           }
                           .role_details{
                                display:inline-block;
                                padding: 0;
                                margin:0;
                                padding-left:30px;
                                      li{
                                          display:inline-block;
                                          margin-right:10px;
                                          &:last-child{
                                                margin-right:0;
                                          }
                                          a{
                                            text-align:center;
                                            width:30px;
                                            border-radius:3px;
                                            display:inline-block;
                                            &.email{
                                              background:lighten( #13B7FF, 43%);
                                              i{
                                                fill : #13B7FF;
                                              }
                                            } 
                                            
                                          }//end of a
                                          &:hover{
                                            cursor: pointer;
                                          }
                                      }//end of li
                              }//end of contact info
                        }
                }
        }
}//end of content-item


input{
        &.search{
            width:100%;
            padding:10px;
            border-radius: 4px;
            box-shadow:none;
            border:2px solid #f1f1f1;
            &:focus{
                outline:none;
            }
        }
 }
