
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import 'common';
@import 'overrides';
@import 'components/buttons';
@import 'components/form';
@import 'components/dashboard';
@import 'responsive';