
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import 'variables';
@import 'components/buttons';
@import 'components/form';


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

/* CSS Document */
body{
        color:$color--text;
        font-family: 'Poppins', sans-serif;
        background-color : $admin-bg;
}

h1,h2,h3,h4,h5,h6{
        font-family: 'Poppins', sans-serif;
        font-weight:bold;
        margin:0;
}

h1{
        font-size:22px;
        color:#000000;
        font-weight:500;
        span{
               width:7px;
               height:7px;
               background:$color--primary;
               display:inline-block;
               border-radius:50px;
        }
}

h2{
        font-size:20px;
        color:#000000;
        font-weight:500;
}

h3{
        font-size:18px;
        color:#000000;
        font-weight:500;
}

h6{
        font-size:11px;
        text-transform: uppercase;
        letter-spacing: 1px;
}


.error404{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        background: #01807f0f;
        padding: 50px;
        border-radius: 10px;
        margin-top: 50px;
}





// BOOTSRAP OVERRIDES
.navbar{
        margin-bottom: 0;

}
.navbar-light .navbar-nav .nav-link {
        color: #3B3E46;
        font-size:12px;
        vertical-align: middle;
}


.dropdown-menu{
        padding:0;
        border : 1px solid #ECECEC;
        box-shadow: 0px 12px 34px -24px rgba(0,0,0,0.20);
        .dropdown-item{
                font-size:12px;
                padding:10px 20px;
                a{
                        margin:0;
                        padding:0;
                }
        }

}

.breadcrumb{
        margin:20px 0;
        background:none;
        font-size: 12px;
}
a{
        color: $color--primary;
        text-decoration: none;
        &:hover{
                text-decoration: none;
        }
}




.page--title{
        margin-bottom:50px;
}


.btn{
        font-size:13px;
        transition: 0.2s ease-in;
        &.primary_btn{
                background-color:$color--primary;
                border:1px solid $color--primary;
                color: #fff;
                svg{
                        fill: #fff;
                }
                &.outline { 
                        background:none;
                        color:$color--primary;
                        svg{
                                fill: $color--primary;
                        }
                }
                
        }
        &:hover{
                transform: translate(0,-3px);
        }

}




.page--content{
        margin-top:50px;
}

.bg--white{
        background: #fff;
}
.content--border{
        border : 1px solid #ECECEC;
        box-shadow: 0px 12px 34px -24px rgba(0,0,0,0.20);
}