.navbar{
    margin-bottom: 0;

}
.navbar-light .navbar-nav .nav-link {
    color: #3B3E46;
    font-size:15px;
    vertical-align: middle;
}

.dropdown-menu{
    padding:0;
    border : 1px solid #ECECEC;
    box-shadow: 0px 12px 34px -24px rgba(0,0,0,0.20);
    .dropdown-item{
            font-size:15px;
            padding:10px 20px;
            a{
                    margin:0;
                    padding:0;
            }
    }

}

.breadcrumb{
    margin:20px 0;
    background:none;
    font-size: 15px;
}
a{
    color: $color--primary;
    text-decoration: none;
    &:hover{
            text-decoration: none;
    }
}
