
 @media screen and (max-width:600px){
    .breadcrumb{
            display:none;
    }
    .page--title{
            margin-top:30px;    
    }
    .right-text{
            text-align:initial;
            margin-top:10px;
    }
    .widget_item{
            margin-bottom:10px;
    }

    .content-item{
          .content_body{
                .body_item{
                        text-align:center;
                        .user_image{
                                width:120px;
                                margin:0 auto;
                        }
                        h4{
                                margin-top:10px;
                                .contact_info{
                                        display:block;
                                        padding:0;
                                        margin:0;
                                        margin-top:10px;
                                }
                        }
                        .action-menu{
                                position:absolute;
                        }
                }
          }  
    }
 }